<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr.tvz.hrsustav.mybatis.mapper.SpolMapperB">

	<select id="getAllSpol" resultType="hr.tvz.hrsustav.entity.Spol">
		SELECT
			id_spol,
			oznaka
		FROM spol 
	</select>

</mapper>